extends layout
block content
  .text-center.py-5
    h1 500 - Error Interno del Servidor
    p Ocurrió un error en el servidor. Por favor, inténtalo de nuevo más tarde.
    a.btn.btn-primary(href='/') Volver al inicio